<div data-role="content">
	  <h3><u>La raison du Pitch:</u></h3> 
	       
    <p>Le pitch, derriére cet anglicisme se cache plus simplement une présentation qui couvrira votre projet de façon rapide et qui suscitera l'interêt et la curiosité:
  </p>
 
    <p>&nbsp;      
    <table width="456" border="1">
      <tr>
        <td width="150"><span class="ui-block-a"><img src="VC.jpg" alt="" width="150" height="90"></span></td>
        <td width="290">Des Investisseurs
        <p><span>Pour trouver des fonds.</span></p> </td>
      </tr>
      <tr>
        <td><span class="ui-block-a"><img src="IMG/partenaires.jpg" alt="49987" width="150" height="90"></span></td>
        <td><p>Des Partenaires</p>
        <p><span>Qui vous aideront dans votre developpement.</span></p></td>
      </tr>
      <tr>
        <td><span class="ui-block-a"><span class="ui-block-b"><img src="IMG/public.jpg" alt="564" width="150" height="90"></span></span></td>
        <td><p>Des futurs utilisateurs</p>
        <p><span>Qui utiliseront et surtout recommanderont votre produits .</span></p></td>
      </tr>
    </table>
	  
<p>En établissant cette distinction ils vous faudra non pas faire un pitch mais plusieurs, un orienté pour vos investisseurs, un pour vos partenaires, un pour vos utilisateurs mais il faudra prendre en compte aussi la dure loi du temps imparti:	1 minute, 15 minutes et 30 minutes sont les standards d'aujourd'hui. </p>
    <p>Une simple présentation, j'en fait depuis que je suis à l'école... je suis devenu maître des présentations powerpoint alors pourquoi j'ai besoin de cela? Je vais vous poser plusieurs questions(validé si oui):</p>
    
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-theme="c">
        <input type="checkbox" name="che1" id="che1_0" class="custom" value="" />
        <label for="che1_0">Eu le trac?</label>
        <input type="checkbox" name="che1" id="che1_1" class="custom" value="" />
        <label for="che1_1">Bafouillé en public?</label>
        <input type="checkbox" name="che1" id="che1_2" class="custom" value="" />
        <label for="che1_2">Transmis toute les <br> informations?</label>
      </fieldset>
    </div>
      
      <a href="#Jour1b" data-role="button">OK</a>
      
</div>